.ljungblut-videos {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.youtube-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: red;
  z-index: 1;
}