.item {
    font-size: 20px;
    position: relative;
    background: black;
    color: #5b5b5b;
    width: 100%;
    transition: all .2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;

}
.item.video {
    height: 0;
    padding-top: 56.25%;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .3;
    cursor: pointer;
}
.item.video span {
    opacity: 0;
}
.item.video:hover {
    opacity: 1;
}
.item.video:hover span {
    opacity: 1;
}

@media (min-width: 600px) and (orientation: landscape) {
    .item {
        flex-basis: 25%;
    }
    .item.video {
        height: auto;
        padding-top: 0;
        background-size: cover;
    }
}