.item {
    position: relative;
    background: black;
    color: white;
    flex-basis: 25%;
    transition: all .2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;

}
.item.video {
    background-size: cover;
    opacity: .3;
    cursor: pointer;
}
.item.video span {
    opacity: 0;
}
.item.video:hover {
    opacity: 1;
}
.item.video:hover span {
    opacity: 1;
}